<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Learn Celery</title>
</head>
<body>
    <div class="container">
        <br>
    <h2>Welcome to Celery</h2>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {# application content needs to be provided in the app_content block #}
</div>

<div class="container">
    <br>
    <a href="/extract"><button class="btn btn-md btn-info">Create Task</button></a>
</div>
<div class="container">
  <h2>Tasks</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Task ID</th>
        <th>Status</th>
        <th>Download</th>
      </tr>
    </thead>
    <tbody>
    <br>
    {% for task in tasks %}
      <tr>
        <td>{{task.id}}</td>
        <td>{{task.get_status()}}</td>
          {% if task.get_status()=='SUCCESS'%}
            <td><a href="{{url_for('result', task_id=task.id)}}">Download</a></td>
          {% else %}
            <td><a href="#">Refresh</a></td>
          {% endif %}
          <td><a href="{{url_for('status', task_id=task.id)}}">Status Page</a></td>
      </tr>
      {% endfor%}
    </tbody>
  </table>
</div>
</body>
</html>